    {% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_accueil') }}">
        <img src="{{ asset('images/sortir.png') }}" alt="Logo de votre application" width="300" height="150" class="d-inline-block align-top">    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Sortie-ENI/public/">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Villes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Campus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Sortie-ENI/public/participant/modifierProfil/{id}">Mon profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Se déconnecter</a>
        </li>
        </ul>
    </div>
    </nav>
    {% endblock %}