{% extends 'base.html.twig' %}

 {% block body%}
    <h1>Page d'accueil temporaire - jugez pas les frères</h1>
{% endblock %}

{% block title %}{{parent()}} | Home{% endblock %}
{# parent() récupère le contenu du block que je suis en train d'écraser #}
