body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
  padding: 5px;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sortie-carte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18rem;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.collapse,
.navbar-collapse {
  flex-direction: row-reverse;
}
