<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sorties ENI !{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

    {#  <link rel="icon" href="{{ asset(.png') }}">#}

    {% block extrastyles %}{% endblock %}
</head>
<body>
<div class="container">
    <header>
        <h2>Ici est le header</h2>
    </header>

    <main>
        {% block body %}
            <h2>Ici se trouve le main</h2>
        {% endblock %}
    </main>
    <footer>
        <div>&copy; {{ "now"|date('Y')}} Sortie-ENI</div>
    </footer>
</div>
</body>
</html>